<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.emanual.java.app"
    android:versionCode="3"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="io.github.emanual.java.app.App"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.emanual.java.app.AppStart"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.Main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.Detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.FavouriteList"
            android:label="@string/action_favourite"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.About"
            android:label="@string/action_about"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.TopicList"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.ArticleList"
            android:launchMode="singleTask" >
        </activity>

        <service android:name="io.github.emanual.java.app.CoreService" >
        </service>
    </application>

</manifest>