<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.emanual.app"
    android:versionCode="8"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="io.github.emanual.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_code"
        android:label="@string/application_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.emanual.app.AppStart"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.Detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.About"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.FileTree"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.Feedback"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.Browser"
            android:launchMode="singleTask" >
        </activity>

        <service android:name=".CoreService" >
        </service>

        <!-- For AdsSdk. -->

        <activity
            android:name="com.wandoujia.ads.sdk.AppWallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wandoujia.ads.sdk.AppWidgetContainerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.wandoujia.ads.sdk.DownloadService" />

        <receiver android:name="com.wandoujia.ads.sdk.AppChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- AdsSdk End. -->
        <!-- Umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54eaeba6fd98c5faa30003f5" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wandoujia" />
        <!-- Umeng End -->
    </application>

</manifest>