<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.emanual.java.app"
    android:versionCode="6"
    android:versionName="1.3.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />  

    <application
        android:name="io.github.emanual.java.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_code"
        android:label="@string/application_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.emanual.java.app.AppStart"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.Main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.Detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.About"
            android:label="@string/action_about"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.TopicList"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="io.github.emanual.java.app.ui.ArticleList"
            android:launchMode="singleTask" >
        </activity>
                <activity
            android:name="io.github.emanual.java.app.ui.FileTree"
            android:launchMode="singleTask" >
        </activity>

        <service android:name="io.github.emanual.java.app.CoreService" >
        </service>

        <!-- For AdsSdk. -->

        <activity
            android:name="com.wandoujia.ads.sdk.AppWallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wandoujia.ads.sdk.AppWidgetContainerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.wandoujia.ads.sdk.DownloadService" />

        <receiver android:name="com.wandoujia.ads.sdk.AppChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- AdsSdk End. -->
        <!-- Umeng  -->
        <meta-data android:value="53fad774fd98c5e05500a369" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="wandoujia" android:name="UMENG_CHANNEL"/>
		<!-- Umeng End -->
    </application>

</manifest>